# Redis (Docker)
REDIS_URL=redis://redis:6379 

# PostgreSQL (Docker)
DATABASE_URL=postgresql://postgres:password@postgres:5432/auth_db

#Gateway
AUTH_SERVICE_URL=http://auth_service:3001
ORDERS_SERVICE_URL=http://orders_service:3002

# Port (set per service)
# PORT=3000